<div class="vertical-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="card">



        <div class="row">

          <div class="col-6">
            <div class="content-area-outer">

              <div class="content-area">
                <p>
                  <i class="fa fa-ticket  fa-5x" aria-hidden="true"></i>
                </p>

                <h4>GTS</h4>
                <p>One-Stop Ticketing Solution</p>

                <div class="caption">
                <ul >
                  <li>Log-in your account</li>
                  <li>Add your Ticket</li>
                  <li>Wait for the magic to happen</li>
                </ul>
              </div>
              </div>
            </div>
          </div>
          <div class="col-6">
              <div class="content-form-area-outer">
            <h4 class="card-title">Login Your Account</h4>
            <form>
              <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="text" id="defaultForm-email" class="form-control" mdbActive>
                <label for="defaultForm-email">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
                <label for="defaultForm-pass">Your password</label>
              </div>

              <div class="text-center">
                <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
              </div>
            </form>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
