/* You can add global styles to this file, and also import other style files */
$primary_color_dark:#303F9F;
$primary_color_light:#3F51B5;

$secondary_color_light:#FF80AB;
$secondary_color_dark:#F50057;